@import url(https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
:root{
    --cor-tela: #D4FF15;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #DC0A2D;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 74px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name h1, h4{
    font-family: 'Ropa-Sans', sans-serif;
    color: white;
    font-weight: 400;
}

.tela img{
    position: absolute;
}

.tela{
    position: relative;
    width: 1144px;
    height: 338px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-row{
    position: relative;
    border: 1px solid black;
    width: 1000px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.card{
    font-family: 'Pixelify Sans';
    border: 8.5px solid black;
    background-color: var(--cor-tela);
    width: 274px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.25);
}

.number{
    font-size: 128px;
}

.description{
    font-size: 36px;
}

/* ADD */
.add{
    border: 1px solid black;
    width: 1144px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.add input{
    width: 907px;
    height: 85px;
    border: 4px solid #00312c;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Ropa-Sans', sans-serif;
    font-size: 28px;
    color: #00312c;
    padding: 20px;
}

.add button{
    width: 236px;
    height: 85px;
    font-size: 32px;
    background-color:#00312c;
    color: white;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Ropa-Sans', sans-serif;
}

/* FILTROS */
.filtros{
    border: 4px solid black;
    border-radius: 10px;
    width: 850px;
    height: 105px;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.filtros button{
    border: transparent ;
    background-color: transparent;
    width: 225px;
    height: 75px;
    font-family: 'Ropa-Sans', sans-serif;
}

#total:hover{
    background-color: #D4FF15;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 1px 3.8px 2px rgba(0, 0, 0, 0.25);
}

#ativa:hover{
    background-color: #D4FF15;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 1px 3.8px 2px rgba(0, 0, 0, 0.25);
}

#completas:hover{
    background-color: #D4FF15;
    border-radius: 10px;
    width: 235px;
    box-shadow: 0px 1px 3.8px 2px rgba(0, 0, 0, 0.25);
}

